# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Fichiers d'éditeurs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers temporaires
*.tmp
*.bak
*.swp
*~

# Fichiers de dépendances
node_modules/
vendor/
composer.lock
package-lock.json

# Fichiers de build
/build/
/dist/

# Fichiers WordPress spécifiques
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/

# Fichiers ZIP
*.zip 